body {
  background-color: rgb(252, 230, 217);
  margin-bottom: 10px;
}

.App {
  text-align: center;
}
.nav {

  margin-left: 15px;
  /* margin-top: 10px; */
  position: fixed;
}

.nav-items {
  margin-left: 5px;
  font-family: 'Hind Siliguri', sans-serif;
}

#nav-stuff {
  display: flex;
  justify-content: right;
  /* text-align: right; */
  margin-right: 25px;
  margin-top: 10px;
}

#home-div {
  min-height: 100vh;
  position: relative; 
  font-family: 'Hind Siliguri', sans-serif;
  /* background-color: chartreuse; */

}

#home-content {
  margin-left: 60px;
  margin-right: auto;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  /* text-align: center; */
}

#my-name-home {
  /* margin-top: 15px;
  margin-bottom: 0px; */
  font-family: 'Hind Siliguri', sans-serif;
}
#my-name-about {
  /* margin-top: 15px;
  margin-bottom: 5px; */
  font-family: 'Hind Siliguri', sans-serif;
}

#prof-pic {
  /* margin-top: 10px;
  margin-bottom: 20px; */
  border-radius: 25%;
  width: 130px;
}

#linkedin {
  text-decoration: none;
  /* color: rgb(110, 154, 230); */
  font-family: 'Hind Siliguri', sans-serif;

}

#linkedin:hover {
  text-decoration: underline;
  cursor: pointer;
  /* color: rgb(240, 172, 135); */
}

#bio {
  margin: 5px;
  font-family: 'Hind Siliguri', sans-serif;
}

#links {
  margin: 5px;
}

#github:hover {
  cursor: pointer;
}

#highlights {
  min-height: 100vh;
  position: relative;
  /* margin-top: 0px; */
  background-color: rgb(57, 57, 57);
  color: white;
}

#recent-work-header {
  padding-top: 30px;
}

#contact {
  margin-bottom: 7px;
}

.about {
  font-family: 'Hind Siliguri', sans-serif;
  margin: 10px;
}

.token-div {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 60px;
  margin-left: 10px;
  margin-right: 10px;
  /* display: flex
  justify-content: space-evenly; */
}
.tab-sensei-div {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  /* display: flex;
  justify-content: space-evenly; */
}

/* .trail-hunter-div {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
}

.asteroids-div {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
} */

.description {
  text-align: left;
  margin-left: 10px;
  margin-bottom: 0px;
}

.vid {
  margin-left: 50px;
  margin-right: 5px;
  margin-top: 5px;
  width: 350px;
  height: 210px;
}

#resume-header {
  margin-top: 50px;
  margin-bottom: 5px;
  text-align: center;
  font-family: 'Hind Siliguri', sans-serif;
}
#education-header {
  margin-top: 25px;
  margin-bottom: 5px;
  text-align: center;
  font-family: 'Hind Siliguri', sans-serif;
}

#resume-div {
  /* min-height: 100vh; */
  position: relative;
  /* background-color: rgb(70, 187, 117); */
}

#resume-sub-div {
  /* border: 2px solid black; */
  /* width: 100%; */
  /* height: 100vh; */
  /* background-color: red; */
  text-align: left;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 10px;
  padding-bottom: 30px;
  font-family: 'Hind Siliguri', sans-serif;
}

.resume {
  margin: 0px;
}

#projects-div {
  margin-top: 0px;
  min-height: 100vh;
  padding-top: 30px;
  position: relative;
  background-color: black;
  color: white;
}

#projects-header {
  /* margin-top: 70px; */
  margin-bottom: 0px;
  font-family: 'Hind Siliguri', sans-serif; 
}

#projects-margin {

  /* margin-top: 50px;
  margin-bottom: 10px;
  margin: 20%;
  display: flex;
  justify-content: space-evenly; */
}

#projects-margin {
  display: flex;
  justify-content: space-evenly;
  margin: 5%;
}

.thumbnail {
  width: 300px;
  height: 300px;
  border-radius: 5px;

}

.thumbnail:hover {
  opacity: 50%;
}

.project-name {
  font-family: 'Hind Siliguri', sans-serif;
}

#back-to-top {
  margin: 20px
}