body {
  background-color: rgb(255, 240, 227);
  margin-bottom: 50px;
}

.App {
  text-align: center;
}
.nav {
  text-align: right;
  margin-left: 15px;
  margin-top: 10px;
}

.nav-items {
  margin-left: 5px;
  font-family: 'Hind Siliguri', sans-serif;
}

#nav-stuff {
  text-align: right;
  margin-right: 25px;
  margin-top: 10px;
}

#my-name-home {
  margin-top: 15px;
  margin-bottom: 0px;
  font-family: 'Hind Siliguri', sans-serif;
}
#my-name-about {
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: 'Hind Siliguri', sans-serif;
}

#prof-pic {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 10%;
  width: 150px;
}

#linkedin {
  text-decoration: none;
  /* color: rgb(110, 154, 230); */
  font-family: 'Hind Siliguri', sans-serif;

}

#linkedin:hover {
  text-decoration: underline;
  /* color: rgb(240, 172, 135); */
}

#webdev {
  margin: 5px;
  font-family: 'Hind Siliguri', sans-serif;
}

#links {
  margin: 5px;
}

.projects {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.thumbnail {
  width: 420px;
  height: 400px;
  border-radius: 5px;
}

.thumbnail:hover {
  opacity: 50%;
}

.project-name {
  font-family: 'Hind Siliguri', sans-serif;
}


#contact {
  font-family: 'Hind Siliguri', sans-serif;
}

.about {
  font-family: 'Hind Siliguri', sans-serif;
  margin: 10px;
}

.tab-sensei-div {
  border: 1px solid black;
  margin-left: 250px;
  margin-right: 250px;
  display: flex;
  justify-content: space-evenly;
}

.trail-hunter-div {
  border: 1px solid black;
  margin-top: 20px;
  margin-left: 250px;
  margin-right: 250px;
  display: flex;
  justify-content: space-evenly;
}

.asteroids-div {
  border: 1px solid black;
  margin-top: 20px;
  margin-left: 250px;
  margin-right: 250px;
  display: flex;
  justify-content: space-evenly;
}

.description {
  margin-left: 2px;
}

.vid {
  margin-left: 50px;
  margin-right: 5px;
  margin-top: 5px;
}

#resume-header {
  margin-top: 90px;
  margin-bottom: 5px;
  text-align: center;
  font-family: 'Hind Siliguri', sans-serif;
}

#resume-div {
  /* border: 2px solid black; */
  text-align: left;
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 100px;
  font-family: 'Hind Siliguri', sans-serif;
}

.resume {
  margin: 0px;
}